body{
    padding-bottom:3rem;
    padding-bottom:3rem;
    color:crimson;
}
.carousel{
    background:30rem;
}
.carousel-item{
    height:30rem;
    background-color:red
}
.carousel-item > img{
    position: absolute;
    top: 0;
    left: 0;
    man-width: 100%;
    height:30rem; 
}
.team  .col-lg-4{
    margin-bottom:1.5rem;
    text-align: centre;
}
.team h4{
    font-weight: 400;
}
.team.col-lg-4 p{
    margin-left: .75rem;
    margin-right:.75rem;
}
h3{
    margin:0 auto;
    text-align:centre;
}